<a href="https://colab.research.google.com/github/yuu19/advanced_data_lecture/blob/main/Chap_1_Applied_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ver 1.0

About version：The version is 1.0 when released in the google classroom and it will be updated if there are any changes.

#<font color="Crimson">Introduction</font>

Once you copy the material to your own driver, you are able to edit and execute your codes.

<div align="center">
<img src="https://drive.google.com/uc?export=view&id=18yiBMv4q9zX-kF3Uu5TV75nsrp8cDllv" width="60%">
</div>

# <font color='crimson'>Comments and questions</font>

- We can directly comment in this page（<font color='crimson'>Not the file you duplicate in your own driver.</font>）

- yinxing.li.a8 at tohoku.ac.jp

#1. <font color='crimson'>python basics</font>

**Highlight of this class**：

- execute python

- basic calculations

- type

- variable

- loop and if

##1.1 <font color='crimson'>python basics</font>

###<font color='crimson'>print()</font>

You can print anything you want use `print()` in python.

In [ ]:
print(3)

3

Note that the last line will be automatically printed on Google Colab even without print.

In [ ]:
3

3

But only last line will be printed as shown below. So it is better to constantly use print when you need to see any outputs.

In [ ]:
5
3

3

In [ ]:
print(5)
print(3)

5
3

###<font color='crimson'>Simple calculation</font>

You can do simple calculation using  + - * /.

In [ ]:
print(5 + 3 * 2)
print(3 - 5)
print(2 * 2)
print(4 / 2)

11
-2
4
2.0

###<font color='crimson'>exponent, remainder, parentheses</font>

The exponent calculation can be applied by using **.

Example： $4^2$

In [ ]:
print(4 ** 2)

16

Remainder can be calculated using %.

Example: The remainder of 5 divided by 2.

In [ ]:
print(5 % 2)

1

Also, as with formulas, the order of calculations can be controlled with parentheses.

In [ ]:
print(5 + 3 * 2)
print((5 + 3) * 2)

11
16

###<font color='crimson'>[Practice 1]First code (5 mins)</font>

1. calculate $(5-2)^2 + \frac{3+2}{3}$.

2. Print the remainder of 53 divided to 21 to the power of 4.

In [ ]:
( 5 - 2) ** 2 + (3+2)/3

10.666666666666666

In [ ]:
(53 % 21) ** 4

14641

##1.2 <font color='crimson'>Data type</font>

We only use numerical data before, but there are more data types in python.


We learn

- numerical data

- string data

- list

in this lectur. There are more data types in python such as `set`, `dict`, we will learn them if necessary in the future.

###<font color='crimson'>Boolean</font>
000101010101010101010


Boolean is the simplest data type in python. It only has two possible values - `True` and `False`.

In [ ]:
print(True)
print(False)

True
False

In [ ]:
5 < 3

False

###<font color='crimson'>Numeric type</font>

We mainly use numeric type in this lecture. There are **integer** types and **float** types.

In [ ]:
print(1)
print(1.5)
print(-3)
print(1e-6)

1
1.5
-3
1e-06

###<font color='crimson'>String</font>

String types are also available, you need to use '', or "" to enclose the characters.

In [ ]:
print('dog')
print("hoge")

dog
hoge

There are no any differences between ' and ".

In [ ]:
print("'dog'")
print('"hoge"')

'dog'
"hoge"

You can concatenate the strings use `+`.

In [ ]:
"I'm " + 'learning ' + 'programming'

"I'm learning programming"

Basically, Operations between different types cannot be performed.

In [ ]:
'1' + 2

TypeError: ignored

Though it is possible to print them together by separating them with commas when printing.

In [ ]:
print('There are', 30, 'people.')

There are 30 people.

###<font color='crimson'>Annotation(comment)</font>

By adding \# in front of the code, the code will not be executed.

In [ ]:
print('a') # This is just a comment.

a

Codes enclosed in ''' ''' are also annotations.

In [ ]:
'''
====== These are all comments =====
print('444')
'''

print('333')

333

###<font color='crimson'>list</font>

Lastly, 。`list()` is a very flexible data type

In [ ]:
[1, 2, 3, 4]

[1, 2, 3, 4]

Differnt types of elemtn are available in the same list.

In [ ]:
[1, 'abc', 'fff', [2,3]]

[1, 'abc', 'fff', [2, 3]]

The other features will be introduced after the section **variable**.

<a name='type_change'></a>
###<font color='crimson'>convert data type</font>

You can easily convert between `numeric` and `string` data.

In [ ]:
# use str() to convert the numeric data to string data.
str(32)

'32'

In [ ]:
# string to numeric

# to integer using int()
int('32')

32

In [ ]:
# float() real numeric
float('32')

32.0

##1.3 <font color='crimson'>Variable</font>

We learn one of the important elements **Variable** in this section. By defining the **variable**, it becomes much more flexible when programming.

###<font color='crimson'>How to use variables</font>

We define the variable <font color='crimson'>`a`</font> below.

In [ ]:
a = 2
print(a)
a == 1

2

False

Note that it doesn't mean <font color='crimson'>a is equal to 1</font>.

It means <font color='crimson'>assigning 1 to a</font>.

In [ ]:
a = 2
print(a)
a = 3
print(a)

2
3

Operations among **multiple variables** are also available.

- Calculations among numeric data.

In [ ]:
a = 3
b = 4
c = a + a * b
print(c)

15

- Operations among the string.

In [ ]:
a = 'Hello'
b = 'World'
print(a + ' ' + b)

Hello World

- list

In python, elements are counted from 0.
For example, if a = [0, 1, 2], the first element can be taken out by a[0].

In [ ]:
a = [1,2, 3, 4, 5]

print(a[0]) # First element
print(a[1:3]) # [1, 3)
print(a[:2])  # [First, 2)
print(a[2:])  # [2, end)

1
[2, 3]
[1, 2]
[3, 4, 5]

- append

You can use`append` or + to append elements or list to target list.

In [ ]:
a = [] # create an empty list.

a.append(2) # append element 2 to the list
print(a)

a = a + [3] # tips: a += [3,4]
print(a)

[2]
[2, 3]

###<font color='crimson'>Rules for Variable Definitions</font>

In defining variables, there are several rules.

- Composed of a ～ z , A ～ Z , 0 ～ 9 , underbar(_)

- Can not start from number 0~9.

- distinguish between upper and lower case letters

- Not to use the reserved variable names are (list, set, etc.）

In [ ]:
# Correct cases

a = 4
a2 = 5
a_1 = 3
_a = 3 # Start from underbar is OK, but it is often used in the special cases.

In [ ]:
# Wrong cases
1a = 3 # Start from number
f+ = 2 # use +
list = 3 # reserved variable name

SyntaxError: ignored

'3'

###<font color='crimson'>input()</font>

Up to this point, operations have been performed with numbers prepared in advance, but now let's use `input()` to give data to a variable.

In [ ]:
print('Please input a')
a = input()
print('a is',a)

Please input a
Hello world
a is Hello world

Note that the data entered with input() is always of string type, so if you want numerical data, [type conversion](#type_change) is required.

In [ ]:
print('Please input a')
a = float(input())
print('Please input b')
b = float(input())

print('a+b is', a+b)

Please input a
2.5
Please input b
3
a+b is 5.5

###<font color='crimson'>[Practice 2]Programming practice(10 mins)</font>

We have learned calculation, data type and variable so far.

Try to make some codes whatever you like

You can also ask questions in this time.

In [ ]:
# Try your code here

# Example: Input three numerical variables a, b, c, and compute (a+b)^c

##1.4 <font color='crimson'>Loop</font>

This section introduces one of the strengths of programming: iterative processing - loop.

You will often need to repeatedly perform calculations, and it will be several steps easier if you use an iterative structure using `for` loop.

###<font color='crimson'>range</font>

Before introduce the `for` loop, you'd better understand `range()`, which is often used with `for` together.

In [ ]:
range(5)

range(0, 5)

if we convert to list,

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

It means range(3) create a list from [0,3) with integer elements.

Here, assuming you need to print integers from 0 to 5.

In [ ]:
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)

0
1
2
3
4
5

It is not really convinient to write the code this way. You can print from 0 to 5, but it will cost lots of time if the task is print from 0 to 100. So we use `for` loop instead as shown below.

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

We will analyze this. The first line, for, is a declaration of a repeating statement. Then the last range(6) is the repeating entity. Also, i appears, which is the variable to be assigned the number to be repeated each time.

For example, range(6) consists of [0, 1, 2, 3, 4, 5], and assigns the first element, 0, to i for the first iteration. So i=0, and print(i) prints 0. The same principle is used in the next loop, where i=1, and the mechanism is to print from 0 in turn.

It will be very easy to print from 0 to 100 if we use `for`.

In [ ]:
for x in range(101):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

The for statement is formed by aligning the columns and ends when the columns are returned.

In [ ]:
for i in range(5):
  b = i * 2  # Start the for statement
  ###
  ###
  print(b)   #　end of the for statement

print('for statement is over')

0
2
4
6
8
for statement is over

You can apply multiple for loops together.

In [ ]:
for i in range(3):
  for j in range(3):
    print(i, '*', j, '=', i*j)

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4

Also, you can use list instead of range.

In [ ]:
a = [1, 'hello', 2]
for i in a:
  print(i)

1
hello
2

##1.5 <font color='crimson'>if(conditional branching)</font>

Another important aspect of programming is conditional branching.
Conditional branching works by executing code only if certain conditions are met. The `if` statement is used for its use.

In [ ]:
a = 5
if a > 3:
  print('This number is bigger than 3.')

if a > 10:
  print('This number is bigger than 5.')

This number is bigger than 3.

Besides,<font color='crimson'> >, >=, <, <=, == </font> can be used for comparison.

In [ ]:
print('Please input a number.')
a = int(input())
if a == 3:
  print('This number is 3.')

Please input a number.
3
This number is 3.

###<font color='crimson'>else, elif</font>

By inserting "else", the code can be shown in case the condition is not satisfied.

In [ ]:
print('Please input a number.')
a = float(input())
if a == 3:
  print('This number is 3.')
else:
  print('This number is not 3.')

Please input a number.
4
This number is not 3.

Further more, you can use `elif` for multiple  conditions.

In [ ]:
print('Please input a number.')
a = float(input())

if a < 3:
  print('This number is smaller than 3.')
elif a < 5:
  print('This number is bigger than 3 but smaller than 5.')
else:
  print('This number is equal or bigger than 5.')

Please input a number.
4
This number is bigger than 3 but smaller than 5.

###<font color='crimson'>and, or, not</font>

- not: It means a reversal of the condition.

In [ ]:
print('Please input a number.')
a = float(input())

if not a >= 5: # the same as if a < 5
  print('This number is smaller than 5.')

Please input a number.
4
This number is smaller than 5.

- and: Multiple conditions must be met in their entirety.

In [ ]:
print('Please input a number.')
a = float(input())

if a > 5 and a < 10:
  print('This number is bigger than 5 and smaller than 10.')

Please input a number.
7.3
This number is bigger than 5 and smaller than 10.

- or:One of the conditions must be satisfied.

In [ ]:
print('Please input a number.')
a = float(input())

if a > 5 or a < 3:
  print('This number is bigger than 5, or smaller than 3.')

Please input a number.
-2.3
This number is bigger than 5, or smaller than 3.